version: "3.7"

services:
  member-counter-bot:
    env_file: .env
    build:
      context: ./
      dockerfile: Dockerfile
    image: member-counter-bot:latest
    container_name: Member-Counter-Bot
    restart: always
    depends_on:
      - member-counter-bot-db
    networks:
      - default
  member-counter-bot-db:
    image: mongo
    container_name: Member-Counter-Bot-DB
    restart: always
    volumes:
      - ./storage/db:/data/db
      - ./storage/configdb:/data/configdb
      - ./logs:/app/logs
    networks:
      - default

  member-counter-bot-redis:
    image: redis
    command: redis-server --requirepass ${REDIS_PASSWORD} --port ${REDIS_PORT}
    container_name: Member-Counter-Bot-Redis
    restart: always
    networks:
      - default

networks:
  default:
