services:
  website:
    env_file: .env
    container_name: website
    build:
      context: .
      dockerfile: ./apps/website/Dockerfile
    restart: always
    ports:
      - 3000:3000

  bot:
    env_file: .env
    container_name: bot
    build:
      context: .
      dockerfile: ./apps/bot/Dockerfile
    restart: always

  mongo:
    image: mongo:7
    container_name: MongoDB
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok' | mongosh --quiet | grep 1
      interval: 5s
      timeout: 10s
      retries: 30
      start_period: 20s
    volumes:
      - ./storage/db:/data/db
    expose:
      - 27017
    restart: unless-stopped

  setup-mongo-rs:
    image: mongo:7
    container_name: Setup-MongoDB-ReplicaSet
    command: 'mongosh mongodb://mongo:27017/memberCounter --eval=''rs.initiate({ _id: "rs0", members: [{_id: 0, host:"mongo:27017"}] }).ok'' --quiet | grep 1'
    depends_on:
      mongo:
        condition: service_healthy
        restart: true
    restart: "no"

  redis:
    image: redis
    command: redis-server
    container_name: Redis
    restart: unless-stopped
    networks:
      - default

networks:
  default:
