version: "3.7"

services:
  member-counter-bot:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
    ports:
      - "9229:9229"
  member-counter-bot-db:
    ports:
      - "27017:27017"
    networks:
      - default

  member-counter-bot-redis:
    command: redis-server --requirepass ${REDIS_PASSWORD} --port ${REDIS_PORT}
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"

  member-counter-bot-db-mongoex:
    image: mongo-express
    container_name: Member-Counter-Bot-DB-MongoEX
    logging:
      driver: "none"
    environment:
      - ME_CONFIG_OPTIONS_EDITORTHEME=monokai
      - ME_CONFIG_MONGODB_SERVER=member-counter-bot-db
      - ME_CONFIG_MONGODB_PORT=27017
    ports:
      - "8081:8081"
    depends_on:
      - member-counter-bot-db
    restart: unless-stopped
