[Unit]
Description=Member Counter Bot Service
After=network.target mongodb.service

[Service]
ExecStart=/someValidPathHere/member-counter-bot/index.js
WorkingDirectory=/someValidPathHere/member-counter-bot/
User=youruser
Group=yourgroup
Restart=always

[Install]
WantedBy=multi-user.target
