@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.app {
    color: #fff;
    background-color: #2C2F33;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.nav-bar {
    display: flex;
    background-color: #23272A;
    height: 64px;
    flex-basis: 1;
    justify-content: flex-end;
}

.nav-bar > .item {
    outline: 0;
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 20px;
    transition: background-color 100ms linear;
}

.lwd-wrapper {
    display: flex;
}

.lwd-wrapper .lwd-ico {
    position: relative;
    left: 3px;
    top: -4px;
    width: 90px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url('https://discordapp.com/assets/192cb9459cbc0f9e73e2591b700f1857.svg')
}

.nav-bar > .item:hover {
    background-color: rgba(255, 255, 255, 0.075)
}

.nav-bar > .title-wrapper {
    display: flex;
    flex-grow: 1;
}

.nav-bar > .title-wrapper > .title {
    outline: 0;
    margin-left: 20px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    line-height: 60px;
}

.content {
    flex-grow: 1;
}